<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-A017994339/blob/main/A01794339_Modulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FRANCISCO JAVIER MORALES JIMENEZ- A01794339

MODULO 4

**GESTION DE ARCHIVOS**

In [2]:
#Abrir un archivo , se subio en colab
import os
DIR = "/content/sample_data/"
os.chdir(DIR)

#el modo de apertura puede ser :
#r - read w-write

file1 = open("archivo.txt", "r")

#Obtener el nombre 
print(file1.name)
#Obtener el modo de apertura
print(file1.mode)

archivo.txt
r

In [3]:
#Obtener el contenido
archivoContenido = file1.read()
print(archivoContenido)

This is line 1
This is line 2
This is line 3

In [ ]:
#Instruccion para cerrar archivo
file1.close()

In [4]:
#Mejor practica para la apertura de archivos, ya que esta opci√≥n internamente llama al close()
with open("archivo.txt", "r") as file1:
    archivoContenido = file1.read()
    print(archivoContenido)

This is line 1
This is line 2
This is line 3

In [5]:
#Convertir el contenido de un archivo a una lista
with open("archivo.txt", "r") as file1:
    listaFromFile = file1.readlines()

print(listaFromFile)

['This is line 1\n', 'This is line 2\n', 'This is line 3']

**CREACION DE ARCHIVOS**

In [3]:
#Crear un archivo
nuevoArchivo = "archivoAcrear.txt"

#se usa el atributo w para la escritura
with open(nuevoArchivo, 'w') as writefile:
    writefile.write("PRIMERA FILA")

In [6]:
#Copia de archivos, combina la lectura y la creacion de un nuevo archivo
print("Archivo original")
file1 = open("archivo.txt", "r")
archivoOriginal = file1.read()
print(archivoOriginal)

with open('archivo.txt','r') as readfile:
    with open('archivoCopiado.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

print("Archivo Copiado")
with open("archivoCopiado.txt", "r") as file1:
    archivoContenido = file1.read()
    print(archivoContenido)

Archivo original
This is line 1
This is line 2
This is line 3
Archivo Copiado
This is line 1
This is line 2
This is line 3

**USO DE LIBRERIA PANDAS**

In [7]:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

In [9]:
#Te permite leer archivos en formatos estructurados como csv o excel y convertirlos a una estructura
csv_path = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [11]:
#Extraer del data frame una columna en particular y crear otro data frame
oneColunm = df[['Released']]
oneColunm

   Released
0      1982
1      1980
2      1973
3      1992
4      1977
5      1976
6      1977
7      1977

In [16]:
#Obtener el valor dentro del dataframe por posicion

y = df.iloc[0,2]
y

#Obtener el valor dentro del dataframe por etiqueta

z =df.loc[1, 'Artist']
z
a =df.loc[3, 'Album']
a

'The Bodyguard'

In [17]:
#soporta slicing

sliced = df.iloc[0:2, 0:3]
sliced

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [18]:
#Obtener varias columnas seleccionadas, puedes tomar las que necesites solo con la etiqueta
q = df[['Released','Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac